@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center;
  display: flex;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  color: hsl(0, 0%, 100%);

}

.card{
    background-color:hsl(216, 50%, 16%);
    width: 280px;
    height: 480px;
    margin: 40px 0;
    perspective: 600px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 10px 0px 10px rgba(13,1,64,0.08),
    0px 3px 0px 34px rgba(0,0,112,0.08);
}

.flex{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin: 20px;
}

.nft{
    max-width: 100%;
    border-radius: 5px;
}


p{
    color:hsl(215, 51%, 70%);
    font-size: 15px;
    opacity: 0.8;

}
h1{
    opacity: 0.8;
    font-size: 19px;
}
.eth{
    color: hsl(178, 100%, 50%);
    
}
.clock{
    margin: auto;
    color:hsl(215, 51%, 70%);
    font-size: 14px;
    opacity: 0.8;

    
}  
hr{
    height: 0.1vw;
     background-color: hsl(215, 51%, 70%);
}

.info-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
}
.avatar{
    flex-wrap: nowrap;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;

}